
<h1>Welcome to the FT's rating site</h1>

<form action='/ratings' method='post'>
  <% @rating_range.each do |score| %>
    <%= "<label for='score_#{score}'>#{score}</label>" %>
    <%= "<input type='radio' name='rating' value=#{score} id=score_#{score} class='rating'>" %>
  <% end %>
  <input type='submit' value='Submit' />
</form>

<a href='/ratings'>See all reviews</a>
