
<h2>Welcome to the FT's rating site</h1>

<form action='/ratings' method='post' class="o-forms">
  <legend class="o-forms__label">Pick your rating</legend>
  <div class="o-forms__group o-forms__group--inline-together">
      <% @rating_range.each do |score| %>
        <%= "<input type='radio' name='rating' value=#{score} id=score_#{score} class='o-forms__radio-button rating'>" %>
        <%= "<label for='score_#{score}' class='o-forms__label'>#{score}</label>"  %>
      <% end %>
  </div>
  <%= "<div class='errortext'> #{flash[:error]} </p>" %>
  <input type='submit' value='Submit' />

</form>

<a href='/ratings'>See all reviews</a>
